body {
    margin: 0 auto;
    width: 563px;
    background-color: black;
}

/* header::after {
    content: "";
    clear: both;
    display: table;
}

.content {
    background-image: url(/images/img_files/bg_img2.jpg);
    margin: 12px 15px 0px 15px;

    padding: 20px 0px 20px 0px;
    word-spacing: 8px;

    font-size: 24px;
    text-align: center;

} */

.content  #line {
    background-image: linear-gradient(#4ff2bb, #008095);
    /* width: 378px; */
    width: 400px;

    height: 14px;
    display: inline-block;
}
.offer .star{
    /* font-size: 12px; */
    font-size: 10px;


    font-weight: bold;
}

.left {
    float: left;
    padding: 12px 6px;
    line-height: 18px;
    margin: 1px 4px;
}

.right {
    float: right;
    padding: 6px 6px;
    margin: 1px 4px;
    background-color: yellow;
}

.p1 {
    font-size: 8px;
    /* left: 17px; */
    /* float: right; */
    /* right: 23px; */
    text-align: center;
    font-weight: bold;
}

.p2 {
    font-size: 24px;
}

.nav {
    clear: both;
    font-size: 9px;
    line-height: 20px;
    text-align: center;
    border-bottom: solid 1px;
    /* display: inline-block; */
    border-top: solid 1px;
    margin: 0px 8px;



}

.nav a {
    padding: 0px 10px;

    display: inline-block;
}



/* .content .color-line {
    margin: 0px 40px 0px 40px;
    background-image: linear-gradient(#1a00ff, #00deff);
    background-position: center;
    height: 15px;
} */

.content .offer {
    font-size: 82px;


    font-weight: bold;
}

.content .product {
    font-size: 46px;
    word-spacing: 28px;

}

/* .content #left-img {
    float: left;
}

.content #right-img {
    float: right;
} */

.content .img {
    margin-top: 35px;
    margin-bottom: 12px;

    /* padding: 10px 0px;
    padding: 26px 32px; */

}

.content .go {
    clear: both;
    font-size: 46px;
    text-align: center;
    font-weight: bold;
    color: #00bbb9;
}

footer .summary {
    margin: 10px 48px;
    text-align: center;
    padding-bottom: 8px;

}

.summary div {
    font-size: 14px;
    font-weight: bold;


}

.summary p {
    font-size: 10px;
    padding: 6px 0px;
    text-align: justify;

}


footer img {
    width: 14px;
    height: 14px;
    padding: 0px 6px;
}

footer .social-media {
    text-align: right;
    border-bottom: solid;
    border-top: solid;
    margin: 0px 8px;

}

footer .social-media p {
    padding: 8px 0px;
    font-size: 14px;

}

.color {
    background-color: white;
    padding-bottom: 6px;

}